.dashboard{
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.heading{
   font-size: 30px;
   font-weight: 800px;
   padding: 20px;
   color: rgb(106, 155, 245);
   letter-spacing: 1px;
   display: flex;
   gap: 1rem;
   
   
}
.widget{
   display: grid;
   grid-template-columns: repeat(4,24%);
   gap: 1rem;
}
.feature{
   display: grid;
   grid-template-columns: 60% 40%;
}
.dashboard-dark{
   color: white;
}
.dashboard-light{
   color: black;
}
.bg-dark{
   background-color: black;
}
.bg-light{
   background: white;
}