.dashboard{
   margin: 5px;
   display: flex;
   flex-direction: column;
}
.heading{
   font-size: 20px;
   font-weight: 800px;
   padding: 20px;
   
}
.widget{
   display: grid;
   grid-template-columns: repeat(4,24%);
   gap: 1rem;
}
.featured{
   display: grid;
   grid-template-columns: repeat(2,50%);
}